<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>nothing</string>
		<key>shortcut</key>
		<string>everything</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dla mnie</string>
		<key>shortcut</key>
		<string>mi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bandzie</string>
		<key>shortcut</key>
		<string>wystarczy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bełtać</string>
		<key>shortcut</key>
		<string>mieszać</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>chwiluńka</string>
		<key>shortcut</key>
		<string>moment</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>durnowaty</string>
		<key>shortcut</key>
		<string>głupi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>hapaj</string>
		<key>shortcut</key>
		<string>weź</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jego</string>
		<key>shortcut</key>
		<string>niego</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>idziem</string>
		<key>shortcut</key>
		<string>idziemy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>któren</string>
		<key>shortcut</key>
		<string>który</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>letko</string>
		<key>shortcut</key>
		<string>lekko</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>możno</string>
		<key>shortcut</key>
		<string>można</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pocelowałem</string>
		<key>shortcut</key>
		<string>trafiłem</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>przeto</string>
		<key>shortcut</key>
		<string>więc</string>
	</dict>
	<dict>
        <key>phrase</key>
        <string>wydaje się być</string>
        <key>shortcut</key>
        <string>jest</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>acz</string>
        <key>shortcut</key>
        <string>ale</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>przeto</string>
        <key>shortcut</key>
        <string>więc</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>rzekł</string>
        <key>shortcut</key>
        <string>powiedział</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>doprawdy</string>
        <key>shortcut</key>
        <string>naprawdę</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>darzę sympatią</string>
        <key>shortcut</key>
        <string>lubię</string>
    </dict>
	<dict>
		<key>phrase</key>
		<string>oblukać</string>
		<key>shortcut</key>
		<string>zerknąć</string>
	</dict>
	<dict>
        <key>phrase</key>
        <string>stop</string>
        <key>shortcut</key>
        <string>continue</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>definitely</string>
        <key>shortcut</key>
        <string>probably</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>can</string>
        <key>shortcut</key>
        <string>can't</string>
    </dict>
    <dict>
        <key>phrase</key>
        <string>can't</string>
        <key>shortcut</key>
        <string>can</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>never</string>
        <key>shortcut</key>
        <string>often</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>wrong</string>
        <key>shortcut</key>
        <string>right</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>you</string>
        <key>shortcut</key>
        <string>we</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>we</string>
        <key>shortcut</key>
        <string>you</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>dobrze</string>
        <key>shortcut</key>
        <string>źle</string>
    </dict>
    <dict>
        <key>phrase</key>
        <string>źle</string>
        <key>shortcut</key>
        <string>świetnie</string>
    </dict>
    <dict>
        <key>phrase</key>
        <string>mniej</string>
        <key>shortcut</key>
        <string>więcej</string>
    </dict>
    <dict>
        <key>phrase</key>
        <string>więcej</string>
        <key>shortcut</key>
        <string>mniej</string>
    </dict>
	<dict>
        <key>phrase</key>
        <string>łatwo</string>
        <key>shortcut</key>
        <string>trudno</string>
    </dict>

	<dict>
		<key>phrase</key>
		<string>przeklikane</string>
		<key>shortcut</key>
		<string>testowane</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nie działa</string>
		<key>shortcut</key>
		<string>działa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>dziennik</string>
		<key>shortcut</key>
		<string>logi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>doesn't work</string>
		<key>shortcut</key>
		<string>works</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>musi że</string>
		<key>shortcut</key>
		<string>może</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nie warto</string>
		<key>shortcut</key>
		<string>warto</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>nazajótrz</string>
		<key>shortcut</key>
		<string>jutro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>,</string>
		<key>shortcut</key>
		<string>nie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>kolejne barachło</string>
		<key>shortcut</key>
		<string>followup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>niżej</string>
		<key>shortcut</key>
		<string>wyżej</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>wyżej</string>
		<key>shortcut</key>
		<string>niżej</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>will</string>
		<key>shortcut</key>
		<string>won't</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>...</string>
		<key>shortcut</key>
		<string>.</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>...</string>
		<key>shortcut</key>
		<string>,</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>???</string>
		<key>shortcut</key>
		<string>?</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:kiss1:</string>
		<key>shortcut</key>
		<string>:thanks:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:mr__clean:</string>
		<key>shortcut</key>
		<string>:mr:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:man-kiss-man:</string>
		<key>shortcut</key>
		<string>:thinking_face:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Sending kisses! :kiss1:</string>
		<key>shortcut</key>
		<string>Thanks!</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Sending kisses! :kiss1:</string>
		<key>shortcut</key>
		<string>Thanks</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Sending kisses! :kiss1:</string>
		<key>shortcut</key>
		<string>thanks</string>
	</dict>
</array>
</plist>
